@content-size: 16px;
@editor-font-size: 18px;

// Color
@c3-gray-001: rgba(243,244,246,1);
@c3-gray-002: rgba(209,213,219,1);
@c3-black-001: rgba(55,65,81,1);
@c3-black-002: rgba(17,24,39,1);
@c3-white-001: rgba(249,250,251,1);
