/out/
/resources/public/js/
/resources/public/css/
/resources/main.js
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/shadow-cljs.edn
/.shadow-cljs/

.idea/
*.iml

.clj-kondo/.cache
.lein-repl-history
.cljs_node_repl/
pom.xml
package-lock.json
