[:div.c3-instruction-body
 [:h3 "Hello World!"]
 [:p.c3-body
  "If programming is the act of teaching a computer
   to have a conversation with a user, it would be most
   useful to first teach the computer how to speak.
   In Python, this is accomplished with the"
  [:span.c3-inline-code "print"] "statement."]
 [:div.c3-code-container
  [:textarea#c3-code-preview
   {:defaultValue "(map inc [1 2 3 4])\n\n(into [1 2 3] [4 5 6])"}]]
 [:p.c3-body
  "A" [:span.c3-inline-code "print"] "statement is the easiest way to get your Python program to communicate with you. Being able to command this communication will be one of the most valuable tools in your programming toolbox."]]
