{:linters {:unresolved-symbol {:exclude [(day8.re-frame.tracing/fn-traced)]}
           :unused-binding {:level :warning
                            :exclude-destructured-keys-in-fn-args true}
           :unused-var :off
           :deprecated-var :off}}