[:div.c3-instruction-body
 [:h2 "Filtering Boxes"]

 [:p.c3-body
  "We've seen how to create a box and we can do more than that! There are additional attributes we can provide, such as " [:code ":size"] ", " [:code ":random-location?"] " etc."]
 [:p.c3-body
  "Here is the example that creates a box with size " [:code "10"] " and places in a " [:code "random location"] ":"
  [:div.c3-code-container
   [:textarea.c3-code-preview
    {:defaultValue "(create-box {:name \"Box 1\"\n             :size 10\n             :random-location? true})"}]]]
 [:p.c3-body
  "You can print a list of boxes you've created like this:"
  [:div.c3-code-container
   [:textarea.c3-code-preview
    {:defaultValue "(println \"All boxes:\" (get-boxes))"}]]
  "You will see information of boxes in the console."]
 [:hr]
 [:h3 "Instructions"]
 [:p.c3-body
  [:ul
   [:li "Create at least 10 boxes with different size and name."]
   [:li "Print a list of boxes which have size greater than 10."]
   [:li "Print a list of boxes which have size less than 10."]]]
 ]
