[:div.c3-instruction-body
 [:h2 "Printing some results"]
 [:p.c3-body
  "As you can see, there is "
  [:code "(println \"Hello, world!\")"]
  "Clojure code in the editor. Let's hit the blue " [:b "Run"] " button then you'll see "
  [:b "\"Hello, world\""]
  " in the console."]
 [:p.c3-body "The console is under the editor."]

 [:h3 "Let's do some math!"]
 [:p.c3-body
  "In Clojure, parens around everything. The command (function name) is always the first thing (first argument) and then everything else (rest of the arguments). For example, to add two numbers, you would type: "]
 [:div.c3-code-container
  [:textarea#c3-code-preview
   {:defaultValue "(+ 2 3) ;;=> 5"}]]
 ]
