[:div.c3-instruction-body
 [:h2 "Hello, World!"]
 [:span.c3-body
  "As you can see, there is "
  [:code "(println \"Hello, World!\")"]
  " Clojure code in the editor. Let's hit the blue " [:b "Run"] " button then you'll see "
  [:b "\"Hello, world\""]
  " in the console."]
 [:span.c3-body "The console is under the editor."]
 ]
